
.chat-bubble-wrapper {
    position: relative;
    max-width: var(--bubble-width);
    border-radius: 10px;
}

.chat-bubble, .chat-bubble-reverse {
    position: relative;
    max-width: var(--bubble-width);
    padding: 12px;
    border-radius: 10px;
    letter-spacing: 0.05em;
    color: var(--bubble-text-color);
    text-shadow: var(--bubble-text-shadow-color) 0 0 3px;
    overflow: hidden;
}

.chat-bubble>span,.chat-bubble-reverse>span  {
    display: block;
}

.chat-bubble pre, .chat-bubble-reverse pre {
    display: block;
    /* width: calc(100% - 24px); */
    overflow: scroll;
    color: #fff;
    padding: 0 0.05rem;
    text-shadow: none;
    border-radius: 10px;
}

.chat-bubble {
    background: var(--bubble-bg-color);

}

.chat-bubble-reverse {
    background: var(--bubble-reverse-bg-color);
}

.triangle-left {
    content: '';
    position: absolute;
    left: -20px;
    top: 12px;
    border: 10px solid transparent;
    border-right: 16px solid var(--bubble-bg-color);
}

.triangle-right {
    content: '';
    position: absolute;
    right: -20px;
    top: 12px;
    border: 10px solid transparent;
    border-left: 16px solid var(--bubble-reverse-bg-color);
}

.decoration-wrapper {
    width: 0;
    height: 0;
    position: relative;
}

.bubble-decoration {
    position: absolute;
    top: -8px;
    left: -9px;
}