
.session-record, .session-record-reverse {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 10px;
}

.session-record {
    padding-right: var(--session-record-padding);
}

.session-record-reverse {
    flex-direction: row-reverse;
    padding-left: var(--session-record-padding);
}

.avatar {
    width: var(--avatar-size);
    height: var(--avatar-size);
    margin: var(--avatar-margin);
    border-radius: 10px;
}