
* {
    box-sizing: border-box;
}

html {
    font-size: calc(750 / 100vw)
}

html, body, p {
    padding: 0;
    margin: 0;
}

code {
    border-radius: 10px;
}


pre::-webkit-scrollbar {
    width:3px;
    height: 3px;
    color: transparent;
}
    /* 滚动槽 */
pre::-webkit-scrollbar-track {
    -webkit-box-shadow:inset006pxrgba(0,0,0,0.3);
    border-radius:10px;
}
    /* 滚动条滑块 */
pre::-webkit-scrollbar-thumb {
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background: #ccc;
    -webkit-box-shadow: inset006pxrgba(0,0,0,0.5);
}
pre::-webkit-scrollbar-thumb:window-inactive {
    background: #ccc;
}